

$modularscale: (
  base: 16px,
  ratio: 1.12,
  400px: (
    base: 18px,
    ratio: 1.2,
  ),
  900px: (
    base: 18px,
    ratio: 1.3,
  ),
  1200px: (
    base: 20px,
    ratio: 1.3,
  ),
);

h1 { @include ms-respond(font-size,4); }
h2 { @include ms-respond(font-size,3); }
h3 { @include ms-respond(font-size,2); }
h4 { @include ms-respond(font-size,1); }
h5 { @include ms-respond(font-size,0); }
h6 { @include ms-respond(font-size,-1); }
html { @include ms-respond(font-size,0); }
small { @include ms-respond(font-size, -1); }

section p:last-of-type, section p:last-child {
  margin-bottom : 2rem;
}
main {
  padding : 1rem 0;
}
section {
  padding : 1rem 0;
  margin-bottom : 2rem;
}
